.header__logo {
    display: block;
    width: 177px;
    height: 52px;
    transition: linear .335s;
}

.header__logo:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}